<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Security Demo Project User Control Panel</title>
</head>
<body>
<div align="center">
    <h2>
        Welcome To Security Demo User Control Panel
    </h2>
    <p>
        Your username is: <b>[[${#request.userPrincipal.principal.username}]]</b>
    </p>
    <form th:action="@{/user/Logout}" method="post">
        <input type="submit" value="logout" />
    </form>
</div>
</body>
</html>